
CompileFlags:
  Add:
    - -std=c++20
    - --cuda-path=/usr/local/cuda
    - --cuda-gpu-arch=sm_80
    - -L/usr/local/cuda/lib64
    - -I/usr/local/cuda/include
    - -I/home/lennart-k-hler/projects/AberrationCorrection_agent/backends/cuda/cuda_kernels/include
    - -I/home/lennart-k-hler/projects/AberrationCorrection_agent/lib/dolphin/backends/dolphinbackend/include
  Remove:
    - -forward-unknown-to-host-compiler
    - --options-file
    - --generate-code=arch=compute_75,code=[compute_75,sm_75]
    - "--generate-code=arch=compute_75,code=[compute_75,sm_75]"
    - --generate-code=arch=compute_80,code=[compute_80,sm_80]
    - "--generate-code=arch=compute_80,code=[compute_80,sm_80]"
    - --generate-code=arch=compute_86,code=[compute_86,sm_86]
    - "--generate-code=arch=compute_86,code=[compute_86,sm_86]"
    - --generate-code=arch=compute_90,code=[compute_90,sm_90]
    - "--generate-code=arch=compute_90,code=[compute_90,sm_90]"
