.vscode/*
.cache/*
.roo/*
.VSCodeCounter/*
**/build/
**/dockerbuild/
profiling/*
result/*
results/*
result/tiles/*
cmake-build-debug/*
input/*
lib/cube/build/*



uml.puml
uml2.puml
uml3.puml

!input/
!result/
!result/tiles/
!build/
!lib/cube/build/
!configs/

!input/.gitkeep
!result/.gitkeep
!build/.gitkeep
!lib/cube/build/.gitkeep
!configs/README.md
!configs/default_config.json
!configs/default_psf_config.json
!result/tiles/.gitkeep
