[submodule "lib/imgui"]
	path = frontends/gui/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "frontends/gui/lib/imgui-filebrowser"]
	path = frontends/gui/lib/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser
[submodule "frontends/gui/lib/implot3d"]
	path = frontends/gui/lib/implot3d
	url = https://github.com/brenocq/implot3d
[submodule "frontends/cli/lib/CLI11"]
	path = frontends/cli/lib/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "lib/nlohmann/json"]
	path = lib/nlohmann/json
	url = https://github.com/nlohmann/json
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
