.vscode/*
.cache/*
.roo/*
.VSCodeCounter/*
**/build/
**/dockerbuild/
build/
*build*/
debug_build/
stable_build/
test_build/
profiling/results/*
result/*
results/*
result/tiles/*
cmake-build-debug/*
input/*
backends/cuda/lib/cube/build/
configs/
configs_checkpoint/
**/debug.log

# Generated artifacts
compile_commands.json
imgui.ini
speed.txt
*.idx
assets/test_tiff_output/
