.vscode/*
.cache/*
**/build/
*build*/
profiling/results/*
result/*
results/*
configs/
configs_checkpoint/
**/debug.log

# Generated artifacts
compile_commands.json
imgui.ini
speed.txt
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
